body {
  background: url(./Images/arrowPattern.webp);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
i {
  cursor: pointer;
}
.Poppin {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.btn {
  border-radius: 4rem;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
  border-color: #5e0101;
}

.form-label {
  font-size: 0.9rem;
}
.form-control,
.form-select {
  border-radius: 4rem;
  font-size: 0.8rem;
  padding: 0.8rem 1.3rem;
  font-family: Poppins, sans-serif;
  color: #4f4f4f;
}

.form-check-input:checked {
  background-color: #850101;
  border: #5e0101;
}
input[type="radio"] {
  cursor: pointer;
}

.header {
  background-color: white;
  box-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.logoWidth {
  width: 20%;
}
.logo {
  width: 85%;
}
.dropdown-menu[data-bs-popper] {
  left: 0;
  right: 0;
}
.navbar-nav li {
  margin: auto;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
/* Login */
.LoginImg {
  width: 90%;
}
.login {
  background-color: white;
  padding: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login .forgot-password {
  text-align: right;
  font-size: 0.8rem;
}
.login .forgot-password a {
  text-decoration: none;
}
.login .forgot-password a:hover {
  text-decoration: underline;
}

/* Tabs */

/* Leave Request */
.Head-Tabs {
  width: 85%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.LeaveRequest .head {
  text-align: center;
}
.leaveForm span {
  color: #930000;
}

/* Dashboard Tabs Start*/

.dropdown-toggle {
  text-align: center;
}

.Panel .nav-tabs {
  border-bottom: 0.15rem solid #ddd;
}

.Panel .nav-link {
  color: #555;
  border: none;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.Panel .nav-link:hover,
.Panel .nav-link:focus {
  background-color: #f8f9fa;
  border-bottom: 0.15rem solid #930000;
  color: #930000;
  border-radius: 0;
}

.Panel .nav-link.active {
  color: #930000;
  background-color: #fff;
  border-bottom: 0.15rem solid #930000;
  border-radius: 0;
}

/* Dashboard Tabs End */

.tableBtnAction button {
  font-size: 0.8rem;
}

/* Table Style Start*/
.table-custom {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
}

.table-custom th,
.table-custom td {
  padding: 0.7rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-custom th {
  background-color: #850101;
  color: white;
  font-weight: normal;
}

.table-custom tbody tr:nth-child(even) td {
  background-color: #f9f9f9 !important;
}
/* Table Style End */

.dropdown-item:active {
  background-color: #930000;
}
.DocumentsImg {
  width: 10rem;
  cursor: pointer;
  transition: 0.2s;
}

.DocumentsImg:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.reviewalertComp {
  position: fixed;
  left: 30%;
  width: 40%;
  z-index: 4;
  cursor: pointer;
  text-align: center;
}

/* Spinner */
.Spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 4;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.808);
}
.Spinner .spinnerMover {
  position: relative;
  top: 50%;
  z-index: 5;
}
/* Local Spinner */
.localSpinner {
  color: rgb(255, 0, 0);
  border-radius: 50rem;
}
.localSpinner div {
  margin: 3px;
}

.btn-danger {
  background-color: #930000 !important;
}

.btn-danger:hover {
  background-color: #5e0101 !important;
}
.btn-outline-danger {
  border: 0.1vw solid #930000 !important;
  color: #930000;
}

.btn-outline-danger:hover {
  background-color: #5e0101 !important;
}

/* Panel */
.panelTabContent {
  margin-top: 3rem;
}

/* Home */
.HomeBg {
  background-color: #f9f9f9;
}
.HomeBg h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}
.HomeBg button {
  padding: 0.6rem 1rem;
}

.banner img {
  width: 100%;
  object-fit: cover;
}
.Slider .sliderImg {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.sliderTitle {
  position: absolute;
  top: 55%;
  left: 45%;
  color: white;
  z-index: 2;
  font-size: 2.5rem !important;
}
.Slider img {
  height: 20rem;
  object-fit: cover;
}

/* Calender */

.Calender {
  border-top: 0.2rem solid darkred;
  padding: 1rem;
  background-color: rgb(250, 250, 250);
}

.Calender table {
  width: 100% !important;
  height: auto;
}
.Calender th {
  font-weight: 600;
}
.Calender a {
  color: black;
  text-decoration: none;
}

.Calender .fc .fc-toolbar-title {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
.Calender a .fc-event-title {
  border-left: 0.2rem solid red;
  padding: 0.4rem 0.5rem;
  color: black;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  font-size: 0.7rem;
}
.Calender button {
  background-color: rgb(250, 250, 250) !important;
  color: #000000 !important;
  font-weight: bolder;
  padding: 0.2rem 1rem !important;
  border: 0.1rem solid lightgray !important;
}
.Calender button:focus {
  box-shadow: rgba(197, 197, 197, 0.788) 1.95px 1.95px 2.6px !important;
}

/* Not Found Page */
.NotPageFound {
  margin: 5rem;
  padding: 2rem;
  text-align: center;
}

/* Footer */
.footerLogo {
  width: 15rem;
}
.footer i {
  color: white;
  margin: 0rem 0.3rem;
}

@media screen and (max-width: 768px) {
  .logoWidth {
    width: 45%;
  }
  .HomeBg h2 {
    font-size: 3rem;
  }
  .sliderTitle {
    left: 30%;
  }
  .LoginImg {
    display: none;
  }
  .table-custom,
  .table-custom tbody,
  .table-custom tr {
    display: block;
  }

  .table-custom td {
    display: block; /* Stack the cells vertically */
    width: 100%; /* Each cell takes full width */
    box-sizing: border-box; /* Include padding and border in the element's width */
  }

  .table-custom td::before {
    content: attr(
      data-label
    ); /* Use data-label attribute from HTML to show labels */
    float: left;
    font-weight: bold;
    color: #850101; /* Adjust to match your design */
  }

  /* .table-custom td:last-child {
    border-bottom: none;
  } */
}
